html, body, .fullHeight {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}
ul {
  padding: 0;
  margin: 0 0 5px 0;
}
li {
  display: inline-block;
  margin: 0 34px;
  font-size: 16px;
  padding: 25px 0;
}
li:first-child {
  margin-right: 82px;
  font-size: 20px;
}
li:first-child a {
  color: #FA4C6E;
}
li:last-child {
  float: right;
}
.nav {
  color: #191a1f;
  text-decoration: none;
}
.nav:hover {
  cursor: pointer;
  color: #fa4c6e;
}
.tasksList {
  position:  absolute;
  top: 158px;
  margin: 10px 41px;
}
.dashboard {
  height: calc(100% - 74px);
}
.tasksList > button {
  width: 334px;
  height: 52px;
  border-radius: 3px;
  background: #ffffff;
  border: none;
  margin-bottom: 9px;
  outline: none;
  font-size: 19px;
  font-family: Roboto;
  color: #4c70fe;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.29);
}
.active:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: opacity .2s linear;
}
.disableDarkBtn {
  background: #727F9D!important;
  opacity: 0.6;
}
.disableLightBtn {
  color: #727F9D!important;
}
.selectedTask {
  border-right: 3px solid #4c70fe;
}
.listContainer {
  border-radius: 4px;
  width: 294px;
  margin-bottom: 9px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.29);
  overflow: hidden;
}
.listContainer:first-child {
  color: #909090;
  font-size: 16px;
}
.descriptionTask {
  margin: 10px 0;
  font-size: 20px;
  color: #191A1F;
}
.editBtn, .btnLeft {
  border-radius: 4px;
  width: 51px;
  border: none;
  font-size: 14px;
  height: 27px;
  background: #4c70fe;
  color: #ffffff;
  outline: none;
  margin-right: 5px;
}
.btnLeft, .btnRight {
  cursor: pointer;
}
.editBtn:active, .btnLeft:active {
  background: #002CE0;
}
.deleteBtn, .btnRight {
  height: 25px;
  width: 49px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: inherit;
}
.formContainer {
  position: absolute;
  top: 78px;
  right: 0;
  background: #ffffff;
  height: calc(100% - 78px);
  width: 497px;
}
.formContainer > div {
  padding: 23px 5px 23px 40px;
  border-bottom: 1px solid #f0f0f0;
}
.preView {
  padding: 0px 37px;
  background: #f0f0f0;
}
.preView > button {
  border-radius: 4px;
  width: 150px;
  height: 40px;
  background: #4c70fe;
  border: none;
  color: #ffffff;
  outline: none;
  font-size: 18px;
}
address {
  max-height: 38px;
  font-size: 16px;
  font-style: inherit;
  overflow: hidden;
  margin-bottom: 26px;
}
.servicesContainer {
  display: flex;
}
.servicesContainer span {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.servicesContainer span > button {
  background-color: inherit;
  border: none;
  outline: none;
  width: 75px;
  height: 75px;
  margin: 0px 7px;
  vertical-align: middle;
}
.clicked {
  border: 1px solid #4C70FE!important;
  border-radius: 50%!important;
}
.nameService {
  font-size: 14px;
}
h2 {
  margin: 0;
  font-size: 14px;
  color: #909090;
}
.content {
  margin: 17px 0px;
}
.content > button {
  background: inherit;
  border: none;
  font-size: 17px;
  color: #191A1F;
  outline: none;
  padding: 0px 17px;
  height: 40px;
  line-height: 40px;
}
.clickedTaskBtn {
  border: 1px solid #4C70FE!important;
  border-radius: 18px!important;
}
input {
  padding: 6px 0;
  width: 423px;
  font-size: 18px;
  outline: none;
  letter-spacing: 0.1px;
  border: none;
}
.outSideModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.3);
  height: 100%;
}
.modal {
  background: white;
  width: 392px;
  padding: 30px 30px 20px;
  height: 182px;
  position: absolute;
  top: calc(50% - 116px);
  left: calc(50% - 226px);
  box-shadow: 0 2px 15px rgba(0,0,0,0.5);
  height: 101px;
}
.modal > h2 {
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;
  font-size: 21px;
}

/*--------------------------------animation------------------------*/
.form-enter {
  right: -497px;
}
.form-enter.form-enter-active {
  right: 0px;
  transition: right 300ms linear;
}
.form-leave {
  right: 0px;
}
.form-leave.form-leave-active {
  right: -497px;
  transition: right 300ms linear;
}

.task-enter {
  opacity: 0.3;
  transform: translateX(-372px);
}
.task-enter.task-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s linear, opacity .3s linear;
}
.task-leave {
  opacity: 1;
  transition: transform .3s linear, opacity .3s linear;
}
.task-leave.task-leave-active {
  opacity: 0.3;
  transform: translateX(-372px);
}

.modal-enter {
  opacity: 0;
}
.modal-enter.modal-enter-active {
  opacity: 1;
  transition: opacity 900ms linear;
}
.modal-leave {
  opacity: 1;
}
.modal-leave.modal-leave-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
.activeLink {
  border-top: 4px solid #1A1B1F;
}